.navbar {
    display: flex;
    align-items: center;
    background-color: #8d96bb;
    padding: 10px 25px 10px 20px;
}
.logo {
    background-color: #145c73;
    padding: 9px 9px 9px 9px;
    border-radius: 8px;
    width: 4%;
    display: flex;
    justify-content: center;
}
#img-logo {
    width: 4em;
}
.search-bar {
    margin-left: 50%;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin: 3px 62px;
    width: 30%;
    border-radius: 15px;
}
.navbar .search-bar input {
    border: none;
    background: none;
    outline: none;
    flex-grow: 1;
}
.navbar .search-bar .search-icon {
    margin-left: 10px;
}
.navbar .cart {
    position: relative;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}
.navbar .cart .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #555;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #56619b; 
    color: white;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 4px 14px;
}

.menu a:hover {
    background-color: #555;
}

header body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

a.btn-weak, a.btn-strong {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}


a.btn-weak {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}

a.btn-weak:hover {
    background-color: #e0e0e0b0;
    color: #000; 
}

a.btn-strong {
    background-color: #212326;
    color: #fff;    
}

a.btn-strong:hover {
    background-color: #0056b3;
    color: #fff; 
}

div.header-btn {
    margin: 0px 1rem 0rem 37rem;
}
