* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

body{
    background: linear-gradient(#004080, #008080,#004080);
    color: white;
}

.link-button{
    background: #5ec1e5;
    padding: 0 1.2em;
    height: 2.5em;
    border-radius: 1em;
    color: white;
    font-size: large;
    text-decoration: none;
    margin-top: 1em;
}

.link-button:hover{
    background-color: #71bdf4;
    cursor: pointer;
}

.pago-curso{
    margin-top: 3em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.pago-curso-cabecera{
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}
.pago-curso-form{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.pago-curso-form label{
    font-weight: bold;
}

.pago-curso-form-input{
    padding: 1em;
    margin: 0.5em 0;
}

.pago-curso-form-importe{
    font-size: 1.5em;
    margin-top: 1em;
}

@media only screen and (max-width: 768px) {

    .link-button{
        display: inline;
        width: auto;
    }
    *.pago-curso-form{
        width: 100%;
    }
}

