@media (max-width: 48em){
    main{
     flex-direction: row;  
    }
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position:sticky;
    top:0;
    /*Esto sirve para corregir la propiedad que le da el relative y que no esten superpuestos los objetos*/
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contacto, .datos-contacto, .ubicacion {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacto h2, .datos-contacto h2, .ubicacion h2 {
    margin-bottom: 20px;
}

.contacto input, .contacto textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.centrado{
    display: flex;
    justify-content: center;
}

/*
.contacto button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #0056b3;
}
*/
textarea {
    height: 80px;
    width: 100%;
}

.ubicacion {
    display: inline-table;
}

.ubicacion .mapa {
    /*width: 72rem;*/
    height: 30rem;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #666;
    border: 1px dashed #ccc;
    background-image: url(images/contact-map-view.png);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contacto, .datos-contacto, .ubicacion {
        width: 48%;
        margin-left: 2em;
        padding: 4em;
    }
}